extends ../base.pug

block content 
  div
    div 
      span X 
    div 
      h4 #{user.displayName} * clayTime
      h1 비밀번호 변경
      h4 비밀번호는 6자리 이상이어야 하고 숫자, 영문, 특수기호(!$@%)의 조합을 포함해야 합니다.
    form(method="post")
      input(type="text", placeholder="현재 비밀번호", name="password")
      input(type="text", placeholder="새 비밀번호", name="newPassword")
      input(type="text", placeholder="새 비밀번호 재입력", name="newPasswordCheck")
      div 
        a(href="http://") 비밀번호를 잊으셨나요?
      input(type="submit", value="비밀번호 변경")