extends ../base.pug

block content 
  form(method="post")
    h1 회원가입
    div 
      span 이름
      input(type="text", name="id")
    div 
      span 이메일
      input(type="text", name="email")
    div 
      span 비밀번호
      input(type="password", name="password")
    div 
      span 비밀번호 확인
      input(type="password", name="password_check")
    div 
      input(type="button", value="중복확인")
    div 
      span 소개
      textarea(name="introduce", cols="30", rows="10") 
    aside 성별
      div
        aside 남자
        input(type="radio", name="gender", value="m")
      div
        aside 여자
        input(type="radio", name="gender", value="w")
      div
        aside 비공개
        input(type="radio", name="gender", value="n")
    button(type="submit") 회원 가입